# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
# *.tfvars
# *.tfvars.json

# Terraform plan
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/